<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/places/saveLocPerUser" method="get">
   <div data-th-each="k:${list}">

    <br>
    <strong data-th-text="${k.name}"></strong>
   
   
    <button type="submit" > Save </button>
    <br>
    <br>
    <span data-th-text="${k.body}"></span>
    <br>
    <br>
    <span data-th-text="${k.text}"></span>
    <br>
    <br>
    <span data-th-text="${k.uuid}"></span>
    <br>
    <span data-th-text="${k.time}"></span>
    <br>
    <span data-th-text="${k.rating}"></span>
   <span hidden="true" name="uuid" value="${k.uuid}"><span>
   </div>
</form>
</body>
</html>