<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">    
    <title>Document</title>
</head>
<body>

    <!-- <a href="../index.html">Search</a> -->
    <a href="../searchwithuser.html">Search again</a>
    <a href="/user/logout">To logout</a>


    <form method="GET" action ="/getLocPerUser">
   <div data-th-each="k:${list}">
    <br>
    <strong data-th-text="${k.name}"></strong>
    <br>
    <br>
    <h3>What about it?</h3>
    <span data-th-text="${k.body}"></span>
    <br>
    <h3> Reviewer:</h3>
    <span data-th-text="${k.authorName}"></span>
    <h3>Latest review:</h3>
    <span data-th-text="${k.text}"></span>
    <br>
    <h3>Date of Review:</h3>
    <span data-th-text="${k.time}"></span>
    <br>
    <h3>Rating</h3>
    <span data-th-text="${k.rating}"></span>
    <br>
    <h3>Open Time:</h3>
    <span data-th-text="${k.openTime}"></span>
    <br>
    <h3>Closing Time:</h3>
    <span data-th-text="${k.closeTime}"></span>
    <br>
    <h3>Contact Number:</h3>
    <span data-th-text="${k.primaryContactNo}"></span>
    <br>
   
    <!-- <img data-th=" https://tih-api.stb.gov.sg/media/v1/download/uuid/'+@{${k.primaryFileMediumUuid}}+'?apikey=dpfSIKNvNGbvZahPsbVH3DUCAcM8WysA" alt=""> -->
  <br>
  <br>
   </div>
</form>
</body>
</html>