<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/places/saveLocPerUser" method="get">
   <div data-th-each="k:${list}">

    <br>
    <strong data-th-text="${k.name}"></strong>
    <br>
    <br>
    <h3>What about it?</h3>
    <span data-th-text="${k.body}"></span>
    <br>
    <br>
    <h3>Latest review:</h3>
    <span data-th-text="${k.text}"></span>
    <br>
    <!-- <br>
    <span data-th-text="${k.uuid}"></span>
    <br> -->
    <h3>Date of Review:</h3>
    <span data-th-text="${k.time}"></span>
    <br>
    <h3>Rating</h3>
    <span data-th-text="${k.rating}"></span>
   <span hidden="true" name="uuid" value="${k.uuid}"><span>

    <input class="checkbox" data-th-value="${k.uuid}" name="checkbox"> 

    <button type="submit">Save</button>
   </div>
</form>
</body>
</html>