<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <a href ="/places/getLocPerUser">Saved Locations</a>
   <a href="/user/logout">To logout</a>
   
   <div data-th-each="k:${list}">
    <form action = "/places/saveLocPerUser" method="get">
    <br>
    <strong data-th-text="${k.name}"></strong>
    <br>
    <br>
    <h3>What about it?</h3>
    <span data-th-text="${k.body}"></span>
    <br>
    <br>
    <h3>Latest review:</h3>
    <span data-th-text="${k.text}"></span>
    <br>
    <!-- <br>
    <span data-th-text="${k.uuid}"></span>
    <br> -->
    <h3>Date of Review:</h3>
    <span data-th-text="${k.time}"></span>
    <br>
    <h3>Rating</h3>
    <span data-th-text="${k.rating}"></span>
   
    <img data-th-src="'https://hcti.io/v1/image/'+${k.libraryUuid}+'.png'" alt="">
    <img src=" https://tih-api.stb.gov.sg/media/v1/download/uuid/101420b6075c8ca4cc6884c4621197d7e51?apikey=dpfSIKNvNGbvZahPsbVH3DUCAcM8WysA" alt="">
  

   <button type="submit" data-th-value="${k.uuid}" name="uuid">Save</button>
 </form> 
    <!--span hidden="true" name="uuid" value="${k.uuid}"><span-->
   </div>

</body>
</html>