<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">    
    <title>Nothing Saved Yet</title>
    <style>
        .center-it{
            width:100vw;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    </head>

<body> 
    <a href="/user/logout">To logout</a>
    <div class="center-it" style="margin-top:10vh;">
        <h1>Hello</h1> <h1 data-th-text="${name}"></h1>
        <br>
        <br>
    <h1>No location saved for you. Please search and then save.</h1>
</div>

<a href="../searchwithuser.html">Search again</a>
    
</body>
</html>